.wrapper {
    height: 100vh;
    background: url(./reza-mousavi-nezhad-0JvPZCDMrgs-unsplash.jpg);
    background-size: cover;
    padding-top: 240px;
    box-sizing: border-box;   
    background-color: rgba(0, 0, 0, .2);
   }
   
body {
    margin: 0;
}

.description, .title {
    font-family: sans-serif, arial;
    font-weight: 400;
    color: white;
    text-align: center;
}

.button {
    display: block;
    width: 150px;
    font-family: sans-serif, arial;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 2px solid;
    text-align: center;
    margin: auto;
    transition-duration: 0.4s;
}

.button:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}
   
   
   